---
import Logo from "./Logo.astro";
---

<header class="py-8">
  <nav class="flex flex-col sm:flex-row justify-between items-center gap-6">
    <a href="/" class="text-white text-xl font-medium tracking-tight">
      <Logo />
    </a>
    <ul class="flex items-center gap-8">
      <li>
        <a href="/" class="text-neutral-400 hover:text-white transition-colors">
          Home
        </a>
      </li>
      <li>
        <a
          href="/about"
          class="text-neutral-400 hover:text-white transition-colors"
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/blog"
          class="text-neutral-400 hover:text-white transition-colors"
        >
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
